// Colors
$primary-color : #3d3a3a;
$secondary-color: #fafafa;
$primary-bg-color: #e6e6e6;
$secondary-bg-color: #ffffff;
$third-bg-color: #e9c214;
$primary-btn-bg-color: #118cdf;


//Padding
$primary-padding: 3rem;